<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轴承数据表</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
    <!-- jQuery 库 -->
    <script src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js"></script>
    <style>
        body {
            /*padding-top: 50px;*/
            background-color: #f8f9fa;
        }
        .container {
            margin: 10px;
        }
        .layui-table-view .layui-table { /* 调整表格样式 */
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container">
<!--    &lt;!&ndash; 筛选框 &ndash;&gt;-->
<!--    <form class="layui-form" style="margin-bottom: 20px;">-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">交易类型：</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <select name="transactionType" id="transactionType" lay-filter="transactionTypeFilter">-->
<!--                    <option value="">全部</option>-->
<!--                    <option value="入库">入库</option>-->
<!--                    <option value="出库">出库</option>-->
<!--                    <option value="返库">返库</option>-->
<!--                    <option value="转入">转入</option>-->
<!--                    <option value="转出">转出</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
    <table class="layui-hide" id="recordTable" lay-filter="recordTableFilter"></table>
</div>

<script>
    layui.use(['table', 'form'], function(){
        var table = layui.table;
        var form = layui.form;

        // 渲染表格
        var recordTable =  table.render({
            elem: '#recordTable',
            url: '/bearings/all', // 数据接口
            parseData: function(res) { // 将原始数据格式适配成 layui 表格组件所期望的格式
                return {
                    "code": 0, // 解析接口状态
                    "msg": "", // 解析提示文本
                    "count": res.length, // 解析数据长度
                    "data": res // 解析数据列表
                };
            },
            toolbar: ['filter', 'exports', 'print'],
            cols: [ [ // 表头
                {field: 'id', title: 'ID'},
                {field: 'boxText', title: '箱号', edit: 'text'},
                {field: 'quantity', title: '数量', edit: 'text'},
                {field: 'depository', title: '厂区'},
                {field: 'customer', title: '客户', edit: 'text'},
                {field: 'outerInnerRing', title: '外/内轮', edit: 'text'},
                {field: 'model', title: '型号', edit: 'text'},
                {field: 'productCategory', title: '制品分类', edit: 'text'},
                {field: 'steelType', title: '钢种', edit: 'text'},
                {field: 'steelGrade', title: '钢材等级', edit: 'text'},
                {field: 'size', title: '材料尺寸', edit: 'text'},
                {field: 'remarks', title: '备注', edit: 'text'}
            ]],
            limit:300,
            page: true //开启分页
        });
        // 监听筛选框的选择事件
        form.on('select(transactionTypeFilter)', function(data){
            var req = {};
            console.log(data);
            if(data.value !== '') {
                req.transactionType = data.value; // 使用 data.value 获取选择的交易类型
            }
            // 重新加载表格数据
            recordTable.reload({
                url: '/bearings/all', // 数据接口
                where: req
            });
            return false;
        });
        table.on('edit(recordTableFilter)', function(obj) {
            var value = obj.value; // 获取编辑后的值
            var data = obj.data; // 获取整行数据
            var field = obj.field; // 获取编辑的字段

            if (field !== 'depository') {
                // 只有当编辑的字段是“溶解号”时才处理
                data.dissolve = value;
                // 发送AJAX请求更新后端数据
                layer.confirm('确定要更新吗？', function (index) {
                    $.ajax({
                        url: '/bearings/' + data.id, // 更新API URL
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(data), // 发送整个更新后的数据对象
                        success: function(response) {
                            layer.msg('更新成功');
                        },
                        error: function(xhr, status, error) {
                            layer.msg('更新失败: ' + error);
                            // 错误处理
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
</body>
</html>
