<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二维码生成与打印</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
    <script src="/static/js/jquery-2.1.0.js" charset="utf-8"></script>
    <script src="/static/js/jquery.qrcode.js" charset="utf-8"></script>
    <script src="/static/js/http_cdnjs.cloudflare.com_ajax_libs_bootstrap-3-typeahead_4.0.2_bootstrap3-typeahead.js"></script>
    <style>
        @media print {
            @page  {
                margin: 0 0 0 0;
            }
            /* 隐藏页面上所有非打印内容 */
            body * {
                visibility: hidden;
            }

            /* 仅显示打印容器及其内部的元素 */
            #printContainer, #printContainer * {
                visibility: visible;
            }

            /*!* 设置打印容器的样式 *!*/
            /*#printContainer {*/
            /*    position: absolute;*/
            /*    margin: 0 0 0 0;*/
            /*    left: 0;*/
            /*    top: 0;*/
            /*    width: 50%;*/
            /*    max-height: 1100px; !* 根据需要调整 *!*/
            /*}*/

            /* 设置二维码的大小和位置 */
            #qrcode {
                width: 200px;
                height: 200px; /* 保持与宽度一致 */
                margin: 10px; /* 移除外边距 */
                position: absolute; /* 绝对定位 */
                left: 0px; /* 对齐到左边 */
                top: 0px; /* 对齐到顶部 */
            }
            /*.print-info-row p:first-child {*/
            /*    !* 第一个p元素（boxText）的样式 *!*/
            /*    margin-right: 50px; !* 或者适当的值 *!*/
            /*    white-space: nowrap; !* 防止自动换行 *!*/

            /*}*/
            /*.print-info-row p:last-child {*/
            /*    !* 第二个p元素（boxNumber）的样式 *!*/
            /*    margin-left: 5px; !* 增加间距 *!*/
            /*}*/
            /*.print-info-row p.box-text {*/
            /*    font-size: 140px; !* boxText字体大小 *!*/
            /*}*/

            /*.print-info-row p.box-number {*/
            /*    font-size: 150px; !* boxNumber字体大小 *!*/
            /*}*/

            /*.print-info-row  p {*/
            /*    font-weight: bold;*/
            /*    line-height: normal;*/
            /*    text-align: center; !* 新增：使得文字居中 *!*/
            /*}*/
            /* 设置信息容器的样式 */
            .info-container {
                position: absolute; /* 绝对定位 */
                word-wrap: break-word; /* 允许在必要时文字换行 */
                text-align: left;
                width: 500px; /* 限制宽度，以适应布局 */
                left: 0px; /* 对齐页面左侧 */
                /*padding-left: 200px;*/
                top: 0; /* 根据需要进行调整 */
                writing-mode: vertical-rl; /* 设置文本为竖直从右到左排列 */
                /*transform: rotate(180deg); !* 如有必要，将文本旋转180度以获得所需的方向 *!*/
            }
            .info-container{
                font-size: 100px;
            }
        }
        .your-icon-class {
            width: 100px;
            height: 100px;
            display: block;
            /*margin: 150px 0px -35px -60px;*/
            margin: 170px -15px 0px -100px;
            padding: 0 0 0 0;
            transform: rotate(90deg);
        }
        #qrcode {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <input type="text" id="boxTextInput" placeholder="请输入箱号" class="layui-input">
    </div>
    <div class="button-row">
        <button class="layui-btn" onclick="preGenerateQRCodeByBoxText()">生成二维码</button>
        <button class="layui-btn" onclick="printQRCode()">打印二维码</button>
        <button class="layui-btn" onclick="preGenerateQRCodeByBoxTextForZero()">生成零箱二维码</button>
    </div>
    <div id="preGenerateModal" style="display:none;">
        <p>即将生成的 Number号: <span id="previewBoxNumber"></span></p>
        <p>数量: <input type="number" id="editQuantity" readonly /></p> <!-- 替换为输入框 -->
        <button onclick="confirmGenerateQRCode()">确认</button>
        <button onclick="cancelGenerateQRCode()">取消</button>
    </div>
    <div id="preGenerateModalForZero" style="display:none;">
        <p>即将生成的 Number号: <span id="previewBoxNumberForZero"></span></p>
        <p>数量: <input type="number" id="editQuantityForZero" /></p>
        <button onclick="confirmGenerateQRCodeForZero()">确认</button>
        <button onclick="cancelGenerateQRCodeForZero()">取消</button>
    </div>
</div>
<script>
    document.getElementById('boxTextInput').addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
</script>
<h3 style="text-align: center">二维码</h3>
<button id="regenerateButton" onclick="regenerateQRCode()" style="display: none;">修改数量</button>
<div id="printContainer">
    <div id="qrcodeContainer">
        <div id="qrcode"></div>
    </div>
    <div id="printSection">
        <div class="info-container"></div>
    </div>
</div>
<!-- 隐藏的确认模态框内容 -->
<div id="confirmModal" style="display: none;">
    <!--    <p id="confirmModalText">请输入新的数量：</p>-->
    <input type="number" id="confirmQuantityInput" class="layui-input">
</div>

<script>
    var userReviewGroupId;var userAuthority;var userDepositoryId;
    var userDepository;var depositoryId;    var preGenerateData; // 用于存储即将生成的数据
    var defaultQuantity;
    function getUserDepository() {
        $.ajax({
            url: '/get_user_depository',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                console.log(data);
                userDepositoryId = data.depositoryId;userAuthority = data.authority;userReviewGroupId = data.review_group_id;
                if (userDepositoryId ===1){
                    userDepository='SAB';depositoryId=1;
                } else if (userDepositoryId===2){
                    userDepository='ZAB';depositoryId=2;
                }else{
                    userDepository="ALL";depositoryId=0;
                }
            },
            error: function() {
                layer.msg('无法获取用户的厂区信息');
            }
        });
    }
    // 页面加载完成后，初始化操作
    $(document).ready(function() {
        getUserDepository();
        // 初始化二维码输入框的自动完成功能
        $('#boxTextInput').typeahead({
            source: function(query, process) {
                return $.ajax({
                    url: '/bearings/search',
                    type: 'GET',
                    data: { query: query, depository: userDepository },
                    dataType: 'json',
                    success: function(data) {
                        return process(data);
                    }
                });
            },
            minLength: 1,
            autoSelect: true
        });
    });
    // 预生成二维码时的逻辑
    function preGenerateQRCodeByBoxText() {
        var boxText = document.getElementById("boxTextInput").value;
        if (!boxText) {
            alert("请输入箱号");
            return;
        }
        var url = '/bearings/preGenerate/' + boxText + '/' + depositoryId;
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // 在存储预生成的数据之前，添加 boxText
                preGenerateData = {
                    ...data,
                    boxText: boxText, // 添加 boxText
                    depositoryId: depositoryId // 添加 depositoryId
                };
                defaultQuantity = data.quantity; // 将获取到的默认数量赋值给全局变量
                document.getElementById('previewBoxNumber').textContent = data.boxNumber;
                document.getElementById('editQuantity').value = data.quantity; // 设置输入框的初始值
                document.getElementById('editQuantity').setAttribute('data-initial-value', data.quantity);
                document.getElementById('preGenerateModal').style.display = 'block';
            })
            .catch(error => {
                console.error('预生成二维码时发生错误：', error);
                layer.alert("请输入正确的箱号");
            });
    }
    function preGenerateQRCodeByBoxTextForZero() {
        var boxText = document.getElementById("boxTextInput").value;
        if (!boxText) {
            alert("请输入箱号");
            return;
        }
        var url = '/bearings/zero/preGenerate/' + boxText + '/' + depositoryId;
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // 在存储预生成的数据之前，添加 boxText
                preGenerateData = {
                    ...data,
                    boxText: boxText, // 添加 boxText
                    depositoryId: depositoryId // 添加 depositoryId
                };
                defaultQuantity = data.quantity; // 将获取到的默认数量赋值给全局变量
                document.getElementById('previewBoxNumberForZero').textContent = data.boxNumber;
                document.getElementById('editQuantityForZero').value = data.quantity; // 设置输入框的初始值
                document.getElementById('editQuantityForZero').setAttribute('data-initial-value', data.quantity);
                document.getElementById('preGenerateModalForZero').style.display = 'block';
            })
            .catch(error => {
                console.error('预生成二维码时发生错误：', error);
                layer.alert("请输入正确的箱号");
            });
    }
    // 显示预生成信息的模态框
    function displayPreGenerateModal(data) {
        $('#previewBoxNumber').text(data.boxNumber);
        $('#editQuantity').val(data.quantity);
        $('#preGenerateModal').show();
    }

    // 确认生成二维码
    // 当用户点击“确认”按钮时执行
    function confirmGenerateQRCode() {
        preGenerateData.quantity = document.getElementById('editQuantity').value;
        // 确保发送到后端的数据包括厂区ID
        fetch('/bearings/' + preGenerateData.boxText+'/' + depositoryId, {
            method: 'POST',
            body: JSON.stringify(preGenerateData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // 生成二维码
                var qrCodeElement = document.getElementById("qrcode");
                // 获取当前日期
                var currentDate = new Date();
                var year = currentDate.getFullYear(); // 年份
                var month = currentDate.getMonth() + 1; // 月份，getMonth() 返回的月份是从0开始计数的
                var day = currentDate.getDate(); // 日期
                var formattedMonth = month < 10 ? '0' + month : month;
                var formattedDay = day < 10 ? '0' + day : day;
                var currentTime = `${year}-${formattedMonth}-${formattedDay}`;
                qrCodeElement.innerHTML = ""; // 清除之前的二维码
                var newData = {
                    CTM: data.customer,
                    MDL: data.model,
                    boxText: data.boxText,
                    boxNumber: data.boxNumber,
                    iter: data.iter,
                    OIR: data.outerInnerRing,
                    quantity: data.quantity,
                    steelType: data.steelType,
                    steelGrade: data.steelGrade,
                    SL: data.storageLocation,
                    depository: data.depository,
                    time: currentTime // 添加时间戳
                };
                var qrData = Object.values(newData).join('|');
                $('<div></div>').qrcode({
                    text: qrData,
                    render: 'canvas',
                    width: 200,
                    height: 200,
                    correctLevel: 3,
                }).appendTo(qrCodeElement);

                // 检查数量是否改变
                var currentQuantity = parseInt(document.getElementById('editQuantity').value);
                var isQuantityChanged = defaultQuantity !== currentQuantity;

                // 根据数量是否改变，决定是否显示图标
                var iconHtml = isQuantityChanged ? `
                     <div class="icon-container-for-print">
                        <img src="/static/images/iic.png" alt="Icon" class="your-icon-class">
                    </div>
                ` : '';
                // 显示信息，包括或不包括图标
                var infoHtml = `
                    <div class="info-row print-info-row">
                        <p class="box-text"><span>${data.boxText}</span></p>
                    </div>
                    ${iconHtml}
                    <div class="info-row print-info-row">
                        <p class="box-number"><span>${data.boxNumber}</span></p>
                    </div>
                `;
                var infoContainer = document.querySelector("#printSection .info-container");
                infoContainer.innerHTML = infoHtml;
                // 显示元素
                document.getElementById('qrcodeContainer').style.display = 'block';
                document.getElementById('printSection').style.display = 'block';
                document.getElementById('preGenerateModal').style.display = 'none';
                // document.getElementById('regenerateButton').style.display = 'block';
            })
            .catch(error => {
                console.error('生成二维码时发生错误：', error);
            });
    }
    function confirmGenerateQRCodeForZero() {
        console.log(preGenerateData);
        preGenerateData.quantity = document.getElementById('editQuantityForZero').value;
        // 确保发送到后端的数据包括厂区ID
        fetch('/bearings/zero/' + preGenerateData.boxText+'/' + depositoryId, {
            method: 'POST',
            body: JSON.stringify(preGenerateData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // 生成二维码
                var qrCodeElement = document.getElementById("qrcode");
                var currentDate = new Date();
                var year = currentDate.getFullYear(); // 年份
                var month = currentDate.getMonth() + 1; // 月份，getMonth() 返回的月份是从0开始计数的
                var day = currentDate.getDate(); // 日期
                var formattedMonth = month < 10 ? '0' + month : month;
                var formattedDay = day < 10 ? '0' + day : day;
                var currentTime = `${year}-${formattedMonth}-${formattedDay}`;
                qrCodeElement.innerHTML = ""; // 清除之前的二维码
                var newData = {
                    CTM: data.customer,
                    MDL: data.model,
                    boxText: data.boxText,
                    boxNumber: data.boxNumber,
                    iter: data.iter,
                    OIR: data.outerInnerRing,
                    quantity: data.quantity,
                    steelType: data.steelType,
                    steelGrade: data.steelGrade,
                    SL: data.storageLocation,
                    depository: data.depository,
                    time: currentTime
                };
                // var qrData = JSON.stringify(newData);
                var qrData = Object.values(newData).join('|');
                $('<div></div>').qrcode({
                    text: qrData,
                    render: 'canvas',
                    width: 200,
                    height: 200,
                    correctLevel: 3,
                }).appendTo(qrCodeElement);

                // 检查数量是否改变
                var currentQuantity = parseInt(document.getElementById('editQuantityForZero').value);
                var isQuantityChanged = defaultQuantity !== currentQuantity;

                // 根据数量是否改变，决定是否显示图标
                var iconHtml = isQuantityChanged ? `
                     <div class="icon-container-for-print">
                        <img src="/static/images/iic.png" alt="Icon" class="your-icon-class">
                    </div>
                ` : '';
                // 显示信息，包括或不包括图标
                var infoHtml = `
                    <div class="info-row print-info-row">
                        <p class="box-text"><span>${data.boxText}</span></p>
                    </div>
                    ${iconHtml}
                    <div class="info-row print-info-row">
                        <p class="box-number"><span>${data.boxNumber}</span></p>
                    </div>
                `;
                var infoContainer = document.querySelector("#printSection .info-container");
                infoContainer.innerHTML = infoHtml;
                // 显示元素
                document.getElementById('qrcodeContainer').style.display = 'block';
                document.getElementById('printSection').style.display = 'block';
                document.getElementById('preGenerateModalForZero').style.display = 'none';
                document.getElementById('regenerateButton').style.display = 'block';
            })
            .catch(error => {
                console.error('生成二维码时发生错误：', error);
            });
    }

    // 取消生成二维码
    function cancelGenerateQRCode() {
        preGenerateData = null;
        document.getElementById('preGenerateModal').style.display = 'none';
        document.getElementById('regenerateButton').style.display = 'none';
    }
    function cancelGenerateQRCodeForZero() {
        preGenerateData = null;
        document.getElementById('preGenerateModalForZero').style.display = 'none';
        document.getElementById('regenerateButton').style.display = 'none';
    }
    function regenerateQRCode() {
        var newQuantity = prompt("请输入新的数量:", "");
        if (newQuantity != null && !isNaN(newQuantity) && newQuantity > 0) {
            var isQuantityChanged = parseInt(newQuantity) !== defaultQuantity;
            if (preGenerateData.boxNumber > 999) {
                updateQRCodeQuantityForZero(parseInt(newQuantity), isQuantityChanged);
                console.log("零箱零箱零箱零箱")
            } else {
                updateQRCodeQuantity(parseInt(newQuantity), isQuantityChanged);
            }
        } else {
            alert("请输入有效的数量");
        }
    }
    function updateQRCodeQuantityForZero(newQuantity, isQuantityChanged) {
        fetch('/bearings/' + preGenerateData.boxText + '/' + preGenerateData.depositoryId + '/regenerateZero', {
            method: 'POST',
            body: JSON.stringify({ quantity: newQuantity, iter: preGenerateData.iter}),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(updatedData => {
                // Use the updated data to regenerate QR code
                generateQRCode(updatedData, isQuantityChanged);
                updateProductQuantity(updatedData.boxText, updatedData.boxNumber, newQuantity, convertDepositoryIdToMath(updatedData.depository), updatedData.iter);

            })
            .catch(error => console.error('Error updating QR code:', error));
    }
    // 生成二维码
    function generateQRCode(data) {
        var qrCodeElement = document.getElementById("qrcode");
        var currentDate = new Date();
        var year = currentDate.getFullYear(); // 年份
        var month = currentDate.getMonth() + 1; // 月份，getMonth() 返回的月份是从0开始计数的
        var day = currentDate.getDate(); // 日期
        var formattedMonth = month < 10 ? '0' + month : month;
        var formattedDay = day < 10 ? '0' + day : day;
        var currentTime = `${year}-${formattedMonth}-${formattedDay}`;
        qrCodeElement.innerHTML = ""; // Clear existing QR code
        var newData = {
            CTM: data.customer,
            MDL: data.model,
            boxText: data.boxText,
            boxNumber: data.boxNumber,
            iter: data.iter,
            OIR: data.outerInnerRing,
            quantity: data.quantity,
            steelType: data.steelType,
            steelGrade: data.steelGrade,
            SL: data.storageLocation,
            depository: data.depository,
            time:currentTime
        };
        // var qrData = JSON.stringify(newData);
        var qrData = Object.values(newData).join('|');
        $('<div></div>').qrcode({
            text: qrData,
            render: 'canvas',
            width: 200,
            height: 200,
            correctLevel: 3,
        }).appendTo(qrCodeElement);
        updateInfoAndDisplayElements(data);
    }
    // 显示信息和元素的共用函数
    function updateInfoAndDisplayElements(data) {
        var infoHtml = `
        <div class="info-row">
            <p><span>${data.boxText}-${data.boxNumber}</span></p>
        </div>
    `;
        var infoContainer = document.querySelector("#printSection .info-container");
        infoContainer.innerHTML = infoHtml;

        document.getElementById('qrcodeContainer').style.display = 'block';
        document.getElementById('printSection').style.display = 'block';
    }
    function updateProductQuantity(boxText, boxNumber, newQuantity, depositoryId, iter) {
        return fetch('/productIds/updateQuantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                boxText: boxText,
                boxNumber: boxNumber,
                quantity: newQuantity,
                depositoryId: depositoryId,
                iter: iter
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('更新失败，状态码：' + response.status);
                }
                if (response.headers.get("Content-Type")?.includes("application/json")) {
                    return response.json();
                } else {
                    // 响应为空时，直接返回成功的结果
                    return { message: '更新成功' };
                }
            });
    }
    function convertDepositoryIdToText(depositoryId) {
        switch (depositoryId) {
            case 1: return "SAB";
            case 2: return "ZAB";
            default: return "Unknown";
        }
    }
    function convertDepositoryIdToMath(depositoryId) {
        switch (depositoryId) {
            case "SAB": return 1;
            case "ZAB": return 2;
            default: return 0;
        }
    }
    // 打印二维码
    function printQRCode() {
        window.print();
    }
</script>
</body>
</html>
