    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>库存记录</title>
        <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
        <script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
        <!-- jQuery 库 -->
        <script src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js"></script>
        <script src="/static/js/http_cdnjs.cloudflare.com_ajax_libs_bootstrap-3-typeahead_4.0.2_bootstrap3-typeahead.js"></script>
        <style>
            .container {
                margin: 20px;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <form class="layui-form"  id="searchForm">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" name="time" id="date" placeholder="请选择日期" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="boxText" id="boxText" placeholder="搜索箱号" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="boxNumber" placeholder="搜索箱号编号" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="model" placeholder="搜索型号" class="layui-input">
                </div>
                <div>
                    <div class="layui-input-inline">
                        <select name="currentDepository" id="depositorySelect" lay-search>
                            <!-- 初始值，稍后会根据用户信息进行更新 -->
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="advancedSearchToggle">高级搜索</button>
                </div>
                <div class="layui-inline" id="advancedSearchForm" style="display: none;">
                    <div class="layui-input-inline">
                        <div class="layui-input-inline">
                            <select name="customer">
                                <option value="" selected>搜索客户</option>
                                <option th:each="customer : ${customers}"
                                        th:value="${customer.name}"
                                        th:text="${customer.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <select name="outerInnerRing">
                            <option value="" selected>搜索内/外轮</option>
                            <option value="LA" >LA</option>
                            <option value="LB" >LB</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="productCategory">
                            <option value="" selected>搜索制品分类</option>
                            <option th:each="product_category : ${productCategorys}"
                                    th:value="${product_category.name}"
                                    th:text="${product_category.name}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="steelType">
                            <option value="" selected>搜索钢种</option>
                            <option th:each="steel_type : ${steelTypes}"
                                    th:value="${steel_type.name}"
                                    th:text="${steel_type.name}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="steelGrade">
                            <option value="" selected>搜索钢材等级</option>
                            <option th:each="steel_grade : ${steelGrades}"
                                    th:value="${steel_grade.grade}"
                                    th:text="${steel_grade.grade}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn">
                        <i class="layui-icon"></i> 搜 索
                    </button>
                </div>
                <div class="layui-input-inline">
                    <select name="state">
                        <option value="">搜索状态</option>
                        <option value="正常">正常</option>
                        <option value="死库">死库</option>
                    </select>
                </div>
            </div>
        </form>

        <table id="recordTable" lay-filter="recordTableFilter"></table>

    </div>

    <script>
        var userReviewGroupId;var userAuthority;var userDepositoryId;var userDepository;var depositoryId;
        function getUserDepository() {
            $.ajax({
                url: '/get_user_depository',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    userDepositoryId = data.depositoryId;userAuthority = data.authority;userReviewGroupId = data.review_group_id;
                    if (userDepositoryId ===1){
                        userDepository='SAB';depositoryId=1;
                    } else if (userDepositoryId===2){
                        userDepository='ZAB';depositoryId=2;
                    }else{
                        userDepository="ALL";depositoryId=0;
                    }
                    let selectElem = document.getElementById('depositorySelect');
                    // 定义选项模板
                    var options = {"": "请选择仓库", "SAB": "SAB", "ZAB": "ZAB"};
                    // 生成HTML选项字符串
                    var optionsHTML = Object.keys(options).map(function(key) {
                        return '<option value="' + key + '">' + options[key] + '</option>';
                    }).join('');
                    // 设置默认选中的选项
                    var selectedOption = "";
                    switch (userDepositoryId) {
                        case 1:selectedOption = "SAB";break;
                        case 2:selectedOption = "ZAB";break;
                        case 0:selectedOption = "";break;
                    }
                    // 更新HTML字符串，设置选中的选项
                    optionsHTML = optionsHTML.replace('value="' + selectedOption + '"', 'value="' + selectedOption + '" selected');
                    // 最后，将生成的HTML设置到select元素中
                    selectElem.innerHTML = optionsHTML;
                    layui.form.render('select');
                },
                error: function() {
                    layer.msg('无法获取用户的厂区信息');
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function() {getUserDepository();});
        $(document).ready(function() {
            $('#boxText').typeahead({
                source: function(query, process) {
                    return $.ajax({
                        url: '/bearings/search',
                        type: 'GET',
                        data: { query: query, depository: userDepository },
                        dataType: 'json',
                        success: function(data) {
                            return process(data);
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                },
                minLength: 1, autoSelect: true
            });
        });
        layui.use(['table', 'form', 'laydate'], function(){
            var table = layui.table;
            var form = layui.form;
            var laydate=layui.laydate;

            // 初始化日期范围选择器
            laydate.render({
                elem: '#date',
                value: new Date() // 设置默认值为当前日期
            });
            var recordTable =  table.render({
                elem: '#recordTable',
                url: '/bearingRecords/inventory', // 更新为正确的后端接口 URL
                height: 600, // 设置表格高度
                parseData: function(res) { // 将原始数据格式适配成 layui 表格组件所期望的格式
                    var filteredData = res.filter(function(record) {
                        return record.quantity > 0;
                    });
                    return {
                        "code": 0, // 解析接口状态
                        "msg": "", // 解析提示文本
                        "count": filteredData.length, // Parse data length
                        "data": filteredData // Parse data list
                    };
                },
                request: {
                    pageName:'page',
                    limitName:'size'
                },
                totalRow: true, // 开启合计行
                toolbar: ['filter', 'exports', 'print'],
                cols: [ [ // 表头
                    {field: 'boxText', title: '箱号'},
                    {field: 'boxNumber', title: '编号'},
                    {field: 'outerInnerRing', title: '内外轮'},
                    {field: 'model', title: '型号'},
                    {field: 'productCategory', title: '制品分类'},
                    {field: 'steelType', title: '钢种'},
                    {field: 'steelGrade', title: '钢等',totalRowText: '箱数'},
                    {field: 'size', title: '尺寸'},
                    {field: 'dissolve', title: '溶解号',totalRowText: '合计数'},
                    {field: 'quantity', title: '数量', totalRowText: '合计'}, // 启用合计行文本
                    {field: 'customer', title: '客户'},
                    {field: 'state', title: '状态'},
                    {field: 'depository', title: '厂区',hide:true},
                    {field: 'currentDepository', title: '仓库'},
                    {field: 'lastRecordedTime', title: '最后入库时间', templet: function(d) {
                            return formatDate(d.lastRecordedTime);
                    }},
                ]],
                done: function(res, curr, count) {
                    // 在这里计算合计值
                    var total = 0;
                    res.data.forEach(function(item) {
                        total += parseInt(item.quantity);
                    });
                    // 更新合计行的值
                    var totalRow = document.getElementsByClassName('layui-table-total')[0];
                    if (totalRow) {
                        var totalCell = totalRow.querySelector('td[data-field="quantity"]');
                        if (totalCell) {
                            totalCell.getElementsByClassName('layui-table-cell')[0].innerText = total.toString();
                        }
                        // 更新箱数
                        var boxCountCell = totalRow.querySelector('td[data-field="size"]');
                        if (boxCountCell) {
                            boxCountCell.getElementsByClassName('layui-table-cell')[0].innerText = res.data.length.toString();
                        }
                    }
                },
                limits:[20,200,2000,20000],
                limit:20000,
            });
            function formatDate(dateStr) {
                if (!dateStr) return '';
                let date = new Date(dateStr);
                let year = date.getFullYear();
                let month = (date.getMonth() + 1).toString().padStart(2, '0');
                let day = date.getDate().toString().padStart(2, '0');
                return `${year}-${month}-${day}`;
            }
            form.on('submit(data-search-btn)', function(data) {
                var req = {};
                var formData = data.field;
                console.log(formData)
                formData.transactionType = $('#transactionType').val(); // 读取交易类型的值
                if (formData.boxText !== '') {
                    req.boxText = formData.boxText;
                }
                if (formData.boxNumber !== '') {
                    req.boxNumber = formData.boxNumber;
                }
                if (formData.customer !== '') {
                    req.customer = formData.customer;
                }
                if (formData.productCategory !== '') {
                    req.productCategory = formData.productCategory;
                }
                if (formData.model !== '') {
                    req.model = formData.model;
                }
                if (formData.outerInnerRing !== '') {
                    req.outerInnerRing = formData.outerInnerRing;
                }
                if (formData.steelType !== '') {
                    req.steelType = formData.steelType;
                }
                if (formData.steelGrade !== '') {
                    req.steelGrade = formData.steelGrade;
                }
                if (formData.depository !== '') {
                    req.depository = formData.depository;
                }
                if (formData.state !== '') {
                    req.state = formData.state;
                }
                if (formData.currentDepository !== '') {
                    req.currentDepository = formData.currentDepository;
                }
                req.cutoffDate = formData.time;
                // 执行搜索重载
                recordTable.reload({
                    url: '/bearingRecords/inventory', // 更新为正确的后端接口 URL
                    page: { curr: 1 },
                    where: req
                });
                return false;
            });
            // 高级搜索开关逻辑
            $('#advancedSearchToggle').click(function() {
                $('#advancedSearchForm').slideToggle();
            });
        });
    </script>
    </body>
    </html>
