<html>
<head>
    <title>JS调用SDK演示</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        div {
            margin: 5px 0;
        }

        input {
            width: 49%;
            height: 45px;
            margin-right: 1%;
            margin-bottom: 1%;
        }

        #tipinfo {
            font-size: 15px;
            color: rgb(255,0,0);
            font-style: italic;
            height: auto;
        }
    </style>
</head>
<body>
<header class="bar bar-nav">
    <h1 class='title'>JS调用SDK演示</h1>
</header>
<div class="content">
    <div class="content-padded grid-demo">
        <input type="button" class="button button-fill" value="启动扫码" onclick="window.android.startScan()" />
        <div id="tipinfo">打印机状态</div>
        <div class="item-content">
            <div class="item-media"><i class="icon icon-form-comment"></i></div>
            <div class="item-inner">
                <div class="item-title label">输入打印内容</div>
                <div class="item-input">
                    <textarea id="inputtxt">http://park.szzkc.com/Content/logo.png</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <input type="button" class="button button-fill" value="生成二维码" onclick="window.android.createQRCode(document.getElementById('inputtxt').value)" />
            </div>
            <div class="col-50">
                <input type="button" class="button button-fill" value="生成条码" onclick="window.android.createBarCode(document.getElementById('inputtxt').value)" />
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <input type="button" class="button button-fill" value="打印文本" onclick="window.android.printText(document.getElementById('inputtxt').value)" />
            </div>
            <div class="col-50">
                <input type="button" class="button button-fill" value="打印Unicode" onclick="window.android.printUnicode('hello, begin to smart print!')" />
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <input type="button" class="button button-fill" value="选择图片" onclick="window.android.selectPic()" />
            </div>
            <div class="col-50">
                <input type="button" class="button button-fill" value="打印图片" onclick="window.android.printPic()" />
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <input type="button" class="button button-fill" value="打印网络图片" onclick='window.android.printNetPic("http://park.szzkc.com/Content/logo.png")' />
            </div>
            <div class="col-50">
                <input type="button" class="button button-fill" value="打印模板二" onclick="window.android.printStyleTwo()" />
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <input type="button" class="button button-fill" value="打印模板一" onclick="printTemp()" />
            </div>
            <div class="col-50">
                <input type="button" class="button button-fill" value="打印模板三" onclick="window.android.printStyleThree()" />
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <input type="button" class="button button-fill" value="获取打印机状态" onclick="window.android.getPrintStatus()" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function javacalljs() {
        document.getElementById("tipinfo").innerHTML =
            "<br\>JAVA调用了JS的无参函数";
    }
    function scanResult(arg) {
        document.getElementById("tipinfo").innerHTML = (arg);
    }

    function javacalljswith(arg) {
        document.getElementById("tipinfo").innerHTML = (arg);
    }

    function printTemp() {
        var pText = "\t\t销售单\n";
        pText += "名称\t数量\t单价\n";
        for(var i=0;i<20;i++){
            pText += "商品" + i + "\t1\t" + "10.00\n";
        }
        window.android.printPic();
        window.android.createQRCode(document.getElementById('inputtxt').value);
        window.android.printText(pText);
        window.android.printPic();
        window.android.printText(pText);
        window.android.printPic();
        window.android.printText("\n\n\n");

    }
</script>
</body>
</html>
