<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.depository_manage.mapper.BearingMapper">
    <resultMap id="bearingMap" type="com.depository_manage.entity.Bearing">

        <result property="boxText" column="box_text"/>
        <result property="boxNumber" column="box_number"/>
        <result property="model" column="model"/>
        <result property="customer" column="customer"/>
        <result property="quantity" column="quantity"/>
        <result property="outerInnerRing" column="outer_inner_ring"/>
        <result property="productCategory" column="product_category"/>
        <result property="steelType" column="steel_type"/>
        <result property="steelGrade" column="steel_grade"/>
        <result property="depository" column="depository"/>
        <result property="storageLocation" column="storage_location"/>
    </resultMap>

    <select id="selectBearingByBoxText" resultMap="bearingMap">
        SELECT * FROM bearings WHERE box_text = #{boxText}
    </select>
    <select id="selectAllBearings" resultMap="bearingMap">
        SELECT * FROM bearings
    </select>
    <select id="selectLatestBearingByBoxText" resultMap="bearingMap">
        SELECT * FROM bearings
        WHERE box_text = #{boxText}
        ORDER BY box_text DESC
            LIMIT 1
    </select>
    <insert id="insertBearing">
        INSERT INTO bearings (
            box_text,
            box_number,
            model,
            customer,
            quantity,
            outer_inner_ring,
            product_category,
            steel_type,
            steel_grade,
            depository,
            storage_location
        ) VALUES (
                     #{boxText},
                     #{boxNumber},
                     #{model},
                     #{customer},
                     #{quantity},
                     #{outerInnerRing},
                     #{productCategory},
                     #{steelType},
                     #{steelGrade},
                     #{depository},
                     #{storageLocation}
                 )
    </insert>
    <select id="calculateTotalQuantityByBoxText" resultType="java.lang.Integer">
        SELECT SUM(quantity) FROM bearings WHERE box_text = #{boxText}
    </select>

    <!-- Add additional SQL statements for update, delete, etc. as needed -->
</mapper>

