<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depository_manage.mapper.BearingRecordMapper">

    <resultMap id="bearingRecordMap" type="com.depository_manage.entity.BearingRecord">
        <result property="id" column="id"/>
        <result property="transactionType" column="transaction_type"/>
        <result property="boxText" column="box_text"/>
        <result property="boxNumber" column="box_number"/>
        <result property="quantity" column="quantity"/>
        <result property="time" column="time"/>
        <result property="operator" column="operator"/>
        <result property="depository" column="depository"/>
        <result property="storageLocation" column="storage_location"/>
        <result property="customer" column="customer"/>
        <result property="outerInnerRing" column="outer_inner_ring"/>
        <result property="model" column="model"/>
        <result property="productCategory" column="product_category"/>
        <result property="steelType" column="steel_type"/>
        <result property="steelGrade" column="steel_grade"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <insert id="insertBearingRecord">
        INSERT INTO bearing_records
        (transaction_type, box_text, box_number, quantity, time, operator, depository, storage_location, customer, outer_inner_ring, model, product_category, steel_type, steel_grade, remarks)
        VALUES
            (#{transactionType}, #{boxText}, #{boxNumber}, #{quantity}, #{time}, #{operator}, #{depository}, #{storageLocation}, #{customer}, #{outerInnerRing}, #{model}, #{productCategory}, #{steelType}, #{steelGrade}, #{remarks})
    </insert>
    <update id="updateBearingRecord">
        UPDATE bearing_records
        <set>
            <if test="transactionType != null">
                transaction_type = #{transactionType},
            </if>
            <if test="boxText != null">
                box_text = #{boxText},
            </if>
            <if test="boxNumber != null">
                box_number = #{boxNumber},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="depository != null">
                depository = #{depository},
            </if>
            <if test="storageLocation != null">
                storage_location = #{storageLocation},
            </if>
            <if test="customer != null">
                customer = #{customer},
            </if>
            <if test="outerInnerRing != null">
                outer_inner_ring = #{outerInnerRing},
            </if>
            <if test="model != null">
                model = #{model},
            </if>
            <if test="productCategory != null">
                product_category = #{productCategory},
            </if>
            <if test="steelType != null">
                steel_type = #{steelType},
            </if>
            <if test="steelGrade != null">
                steel_grade = #{steelGrade},
            </if>
            <if test="remarks != null">
                remarks = #{remarks}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteBearingRecordById">
        DELETE FROM bearing_records WHERE id = #{id}
    </delete>

    <select id="selectBearingRecordById" resultMap="bearingRecordMap">
        SELECT * FROM bearing_records WHERE id = #{id}
    </select>

    <select id="selectAllBearingRecords" resultMap="bearingRecordMap" parameterType="map">
        SELECT * FROM bearing_records WHERE 1=1
        <if test="transactionType != null and transactionType != ''">
            AND transaction_type = #{transactionType}
        </if>
        <if test="boxText != null and boxText != ''">
            AND box_text = #{boxText}
        </if>
        <if test="boxNumber != null and boxNumber != ''">
            AND box_number = #{boxNumber}
        </if>
        <if test="customer != null and customer != ''">
            AND customer = #{customer}
        </if>
        <if test="productCategory != null and productCategory != ''">
            AND product_category = #{productCategory}
        </if>
        <if test="outerInnerRing != null and outerInnerRing != ''">
            AND outer_inner_ring = #{outerInnerRing}
        </if>
        <if test="steelType != null and steelType != ''">
            AND steel_type = #{steelType}
        </if>
        <if test="steelGrade != null and steelGrade != ''">
            AND steel_grade = #{steelGrade}
        </if>
        <if test="depository != null and depository != ''">
            AND depository = #{depository}
        </if>
        <if test="startDate != null and endDate != null">
            AND DATE(time) BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="begin != null and size != null">
            LIMIT #{begin},#{size}
        </if>
    </select>
    <select id="hasSpecialRecord" resultType="boolean">
        SELECT COUNT(*) > 0 FROM bearing_records
        WHERE box_text = #{boxText} AND box_number = #{boxNumber}
          AND depository = #{depository} AND quantity= #{quantity}
          AND transaction_type IN ('返库', '出库', '转入')
    </select>
    <!-- 查询语句 -->
    <select id="selectInventoryByCutoffDate" resultMap="bearingRecordMap">
        SELECT
        box_text,
        box_number,
        depository,
        SUM(CASE
        WHEN transaction_type IN ('入库', '转入') THEN quantity
        WHEN transaction_type IN ('出库', '转出', '返库') THEN -quantity
        END) as quantity
        FROM
        bearing_records
        WHERE
        time &lt;= DATE_ADD(#{cutoffDate}, INTERVAL 1 DAY )
        GROUP BY
        box_text,
        box_number,
        depository
    </select>

</mapper>