<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.depository_manage.mapper.ProductIdMapper">
    <resultMap id="productIdMap" type="com.depository_manage.entity.ProductId">
        <result property="boxText" column="box_text"/>
        <result property="boxNumber" column="box_number"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <select id="selectBoxNumberByBoxText" resultType="com.depository_manage.entity.ProductId">
        SELECT * FROM product_ids
        WHERE box_text = #{boxText}
        ORDER BY CAST(box_number as UNSIGNED ) DESC
            LIMIT 1
    </select>
    <select id="selectAllBoxNumbers" resultMap="productIdMap">
        SELECT * FROM product_ids
    </select>
    <insert id="insertOrUpdateBoxNumber">
        INSERT INTO product_ids (box_text, box_number, quantity)
        VALUES (#{boxText}, #{boxNumber}, #{quantity})
        ON DUPLICATE KEY UPDATE
        box_number = VALUES(box_number),
        quantity = VALUES(quantity)
    </insert>
</mapper>
