<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.depository_manage.mapper.SteelSizeMapper">
    <resultMap id="SteelSizeMap" type="com.depository_manage.entity.SteelSize">
        <id property="id" column="id" />
        <result property="size" column="size" />
    </resultMap>

    <select id="findAll" resultMap="SteelSizeMap">
        SELECT size
        FROM steel_size
        ORDER BY
            CASE
            -- 纯数字，数值排序
            WHEN size REGEXP '^[0-9]+([.][0-9]+)?$' THEN 1
            -- 数字带符号，按数值和符号部分排序
            WHEN size REGEXP '^[0-9]+([.][0-9]+)?[*×xX ]' THEN 2
            -- 其他情况，排在最后
            ELSE 3
        END,
      -- 纯数字和数字带符号部分的具体排序规则
      CASE
        WHEN size REGEXP '^[0-9]+([.][0-9]+)?$' THEN CAST(size AS DECIMAL(10,2))
        WHEN size REGEXP '^[0-9]+([.][0-9]+)?[*×xX ]' THEN CAST(SUBSTRING_INDEX(size, '*', 1) AS DECIMAL(10,2))
        ELSE 0
        END,
      -- 其他情况的次级排序规则
      size;
    </select>

    <select id="findById" parameterType="int" resultMap="SteelSizeMap">
        SELECT * FROM steel_size WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.depository_manage.entity.SteelSize">
        INSERT INTO steel_size (size)
        VALUES (#{size})
    </insert>

    <update id="update" parameterType="com.depository_manage.entity.SteelSize">
        UPDATE steel_size
        SET size = #{size}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM steel_size WHERE id = #{id}
    </delete>
</mapper>
