    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="/static/js/jquery-2.1.0.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/jquery.qrcode.js" charset="utf-8"></script>
        <title>Web Bluetooth 打印示例</title>
    </head>
    <body>
    <div class="output"></div>
    <button id="btnPrint">打印</button>

    <script>
        function printBluetooth() {
            // 调用Android桥接类的打印方法
            if (window.AndroidBridge) {
                window.AndroidBridge.printText($(".output").text());
            } else {
                console.log("Android bridge is not available");
            }
        }


    </script>
    </body>
    </html>
